---
---

<nav>
  <a class="wordmark" href="/">LATENT</a>
  <ul>
    <li><a href="/#ritual">The Ritual</a></li>
    <li><a href="/moment">The Moment</a></li>
    <li><a href="/resolve">The Lab</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/#price" class="cta">Buy</a></li>
  </ul>
</nav>
